.preloader {
  z-index: 100;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 30%;
  left: 50%;
}
.preloader:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #1157A7;
  border-color: #1157A7 transparent #1157A7 transparent;
  animation: preloader-animation 1.2s linear infinite;
}
@keyframes preloader-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}